* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  body {
    background: linear-gradient(
      60deg,
      rgb(155, 175, 217) 0%,
      hsla(220, 78%, 29%, 1) 100%
    );
    margin-bottom: 200px;
    padding: 0;
    height: 100vh;
  }
  